/*
Colors used:
Primary Color (Green):  #344C3C;
Secondary Color (Light Green): #96BBBB;
*/

body {
    font-family: 'Noticia Text', serif;
    background-color:  #344C3C;
    font-family: 'Lato', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #ffffff;
  }
  main {
    padding-top: 56px;
  }
  h1, h2, h3, h4 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  img {
    width: 100%;
  }

  a {
    background-color: inherit;
    color: #ffffff;
    text-decoration: none; /* No underlining */
  }

  a:hover,
  a:focus {
    color: #96BBBB;
    background-color: inherit;
  }
  a:visited { /* visited link */
    background-color: inherit;
    color: #96BBBB;
  }
  a:active { /* selected link */
    background-color: inherit;
    color: #ffffff;
  }
a:focus {
        color: #96BBBB;
        text-decoration: underline;
    }
p {
  padding: 10px 30px 0px 0px;
}

* {
  box-sizing: border-box;
}
.button {
        display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
        background-color: #273C2C;
        color: #ffffff; /* needed to override the default link color */
        font-weight: 400;
        text-decoration: none;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid #96BBBB; /* width of the border, type, color */
        transition: 0.2s;
        transition-property: opacity;
      }
.button:hover {
        opacity: 0.8; /* Reduces the opacity of the button to 80% */
        background-color: #273C2C;
        color:#ffffff;
      }
.button.contact {
        background-color: #ffffff;
        color: #273C2C;
        text-transform: uppercase;
        border: 2px solid #96BBBB;
      }

.button:active,
.button:focus {
        background-color: #96BBBB;
        color: #000000 !important;
        border-bottom: 2px solid #273C2C;
        opacity: 0.8;
        text-decoration: none;
      }    

.button.contact:hover {
        background-color: #000000;
        color: #ffffff !important;
        border-bottom: 2px solid #fdd537;
    }
    
.button.contact:active {
        background-color: #000000;
        color: #ffffff;
    }
    svg {
        max-width: 32px;
        color: black;
    }
    .sun {
        animation-duration: 4s;
        animation-name: color-change;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
      }
    @keyframes color-change {
        0% {fill: #edc655;}
        50% {fill: #fcffad;}
        100% {fill: #f76414;}
      }
    
      @keyframes cloud-move {
        from {transform: translate(0,50px);}
        to {transform: translate(200px,50px);}
      }
      .cloud-front {
        animation-duration: 30s;
        animation-name: cloud-move;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
      }
    /* Layout styling */
    header {
        background-color:  #344C3C;
        padding: 10px 0px 4px;
        margin: 10px;
      
      }
      .navtoggle, .navtoggle.responsive {
        position: relative;
      }
      .navtoggle li:not(:last-child) {
        display: none;
      }
      .navtoggle li .icon {
        position: absolute;
        right: 0;
        top: 2px;
        font-size: 20px;
        padding-right: 0;
      }
      .navtoggle.responsive li  {
        display: block;
      }
      
    .container {
        padding: 0 15px;
      }
    .row {
        margin: 25px 25px; /* 25px top and bottom, 0 left and right */
      }
    #hero h1 {
        text-align: center; /* Centers text */
      }
    .logo {
        max-width: 100px;
        float: left;
      }
      nav > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: right;
        padding-top: 40px;
        padding-right: 20px;
      }
     
      nav > ul > li > a {
        padding: 0 15px;
        text-transform: uppercase;
        font-weight: 700;
        color: #000000;
      }
      #hero {
        background-color: #4a6d56;
        padding: 20px 20px;
        display: inline-block;
        width: 100%;
        
      }

      #work {
        background-color: #4a6d56;
        padding: 20px 20px;
        display: inline-block;
        width: 100%;
      }

      #skillset {
        text-align: left;
        background-color: #4a6d56;
        padding: 20px 60px;
        display: inline-block;
        width: 100%;
      }

      #hero h1 {
        margin: 0;
        padding: 0.67em 0;
        color: #ffffff;
      }

      main {
        padding-top: 120px;
        
      }

      #contact {
        background-color: #2e2e2e; 
        text-align: center;
        color: #ffffff;
        padding: 0.67em;
    }
    #skills{
        background-color: #4a6d56;
        padding: 20px 0;
        display: inline-block;
        width: 100%;
      }
    #resume {
      text-align: center;
    }
    
    #copyright {
        text-align: center;
        font-size: 12px;
    }
    
    #about-picture {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    /*Media Queries*/

    /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  .content {
    margin-top: -25px;
}

header {
    text-align: unset;
    padding: 5px 0 13px;
}

nav {
    width: auto;
    float: right;
    margin-top: 4px;
}

nav>ul {
    margin: 1em 0;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    letter-spacing: 0.05em;
    padding: 0;
    margin: 0 15px;
    text-transform: uppercase;
    border-bottom: 3px solid #eaeaea;
}

nav>ul>li>a:hover {
    color: #ffffff;
    border-bottom: 3px solid #000000;
}

.navtoggle li:not(:last-child) {
    display: inline-block;
}

.navtoggle li:last-child {
    display: none;
}

.navtoggle.responsive li {
    border-top: 0 solid white;
}


main {
    padding-top: 150px;
}

.my.story {
    width: 85%;
}

body {
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

h1 {
    font-size: 2.5em;
    color: #ffffff;
    margin: 20px auto;
}

h2 {
    font-size: 1.6em;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 75px 0 75px 0;
    text-align: center;
}

h3 {
    font-size: 1.4em;
    color: #ffffff;
    letter-spacing: 0.05%;
    font-weight: 500;
}

h4 {
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    padding: 10px 0;
    margin: 0
}

#hero h1{
text-align: left;
margin-bottom: 10px;
}
#hero p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.about img {
    width: 85%;
    margin-bottom: 15px;
}
.about h3{
    margin-top: 25px;
}

#contact p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
    line-height: 1.5;
    margin: 0;
}

.col-md-6 {
    width: 50%;
}

[class*="col-"] {
    float: left;
    padding: 0 30px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
}

footer .container {
padding: 50px 15px;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .content {
      margin-top: 30px;
  }

  .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
  }

  header {
      text-align: unset;
      padding: 10px 0 20px 0;
  }

  .logo {
      max-width: 100px;
      padding: 0;
      margin: 10px 10px;
  }

  nav {
      width: auto;
      float: right;
      margin-top: 4px;
  }

  nav>ul>li>a {
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      color: #000000;
      font-weight: 500;
      letter-spacing: 0.05em;
      padding: 0;
      margin: 0 20px;
      text-transform: uppercase;
      border-bottom: 3px solid #eaeaea;
  }

  body {
      font-size: 18px;
  }

  h1, h2, h3, h4 {
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.4;
  }

  h1 {
      font-size: 2.5em;
      color: #ffffff;
      margin: 20px auto;
  }

  h2 {
      font-size: 40px;
      color: #ffffff;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin: 50px 0 40px 0;
      text-align: center;
  }

  h3 {
      font-size: 1.4em;
      color: #ffffff;
      letter-spacing: 0.05%;
      font-weight: 500;
  }

  h4 {
      font-size: 1em;
      color: #ffffff;
      font-weight: 500;
      padding: 10px 0;
      margin: 0
  }
  .about h3{
      margin-top: 50px;
  }

  footer .container {
      padding: 75px 20px;
  }

  #hero {
      background-color: #4a6d56;
      padding: 25px 0;
      display: inline-block;
      width: 100%;
      text-align: center;
  }

  #hero h1 {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      color: #ffffff;
      font-size: 66px;
      font-weight: 400;
      letter-spacing: 0.025em;
      margin: 20px 0 0px 25px;
  }

  #hero p {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: 400;
      padding: 10px 0;
      line-height: 1.5;
      margin-left: 100px;
      max-width: 650px;
  }

  p.my-story {
      display: inline-block;
      margin-left: 100px;
  }

  .col-lg-7 {
    width: 60%;
}

.col-lg-5 {
    width: 40%;
}


  .about img {
      width: 70%;
      margin-bottom: 20px;
  }

  #contact p {
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: 400;
      padding: 10px 0;
      line-height: 1.5;
      margin: 0;
      max-width: 100%;
  }

  #bullets {
      list-style: none;
      font-size: 16px;
  }
}

/*[class*="col-"] {
  float: left;
  padding-right: 0;
  padding-left: 50px;
}*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer.icon a {
  padding: 0 15px;
  color: rgb(255, 255, 255, 35%);
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
      max-width: 87%;
      margin-left: auto;
      margin-right: auto;
  }

  nav {
      width: auto;
      float: right;
      margin-top: 4px;
  }

  nav>ul>li>a {
      font-family: 'Poppins', sans-serif;
      font-size: 22px;
      color: #000000;
      font-weight: 500;
      letter-spacing: 0.05em;
      padding: 0;
      margin: 0 20px;
      text-transform: uppercase;
      border-bottom: 3px solid #eaeaea;
  }

  body {
      font-size: 22px;
  }

  h1, h2, h3, h4 {
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.4;
  }

  h1 {
      font-size: 2.5em;
      color: #ffffff;
      margin: 20px auto;
  }

  h2 {
      font-size: 48px;
      color: #ffffff;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin: 50px 0 75px 0;
      text-align: center;
  }

  h3 {
      font-size: 40px;
      color: #ffffff;
      letter-spacing: 0.05%;
      font-weight: 500;
      margin: 50px 0 5px 20px;
  }

  h4 {
      font-size: 1em;
      color: #ffffff;
      font-weight: 500;
      padding: 10px 0;
      margin: 0
  }

  footer .container {
      padding: 150px 25px;
  }

  #hero h1 {
      font-family: 'Poppins', sans-serif;
      color: #ffffff;
      font-size: 85px;
      font-weight: 400;
      letter-spacing: 0.025em;
      margin: 20px 0 0px 55px;
      text-align: left;
  }

  #hero p {
      font-family: 'Poppins', sans-serif;
      font-size: 22px;
      font-weight: 400;
      padding: 10px 0;
      line-height: 1.5;
      margin-left: 60px;
      max-width: 550px;
      text-align: left;
  }

  #contact p {
      font-family: 'Poppins', sans-serif;
      font-size: 22px;
      font-weight: 400;
      padding: 10px 0;
      line-height: 1.5;
      margin-right: 10px;
      max-width: 100%;
  }

  #bullets {
      list-style: none;
      font-size: 20px;
  }

p.my-story {
    display: inline-block;
    text-align: center;
    margin-left: 200px;
}

  .about img {
      width: 85%;
      margin-bottom: 25px;
  }

  [class*="col-"] {
      float: left;
      padding: 100px 0;
  }
  .column .desc {
    margin-top: 20px;
    padding-left: 20px;
  }
  .button .desc {
    display: inline;
    margin: 0 auto;
  }

  .content {
      float: left;
      padding-right: 0;
      padding-left: 75px;
      padding-top: 150px;
  }

  .row::after {
      content: "";
      clear: both;
      display: table;
  }

  footer {
      margin: 0;
      padding: 0;
  }

  .footer.icon a {
      padding: 0 25px;
      color: rgb(255, 255, 255, 35%);
  }

  p #copyright {
font-size: 12px;
      margin: 0;
      padding: 0;
      text-align: right;
  }

  .row {
      margin: 15px 0 100px 0;
  }

  #skills.row {
      margin: 0;
  }

}