/*
Colors used:
Primary Color (Green): #273C2C;
Secondary Color (Light Green): #96BBBB;
*/

body {
    font-family: 'Noticia Text', serif;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #ffffff;
  }
  h1, h2, h3, h4 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  img {
    width: 100%;
  }

  a {
    background-color: inherit;
    color: #ffffff;
    text-decoration: none; /* No underlining */
  }

  a:hover,
  a:focus {
    color: #96BBBB;
    background-color: inherit;
  }
  a:visited { /* visited link */
    background-color: inherit;
    color: #96BBBB;
  }
  a:active { /* selected link */
    background-color: inherit;
    color: #273C2C;
  }
a:focus {
        color: #96BBBB;
        text-decoration: underline;
    }
p {
  padding: 10px 30px 0px 0px;
}

* {
  box-sizing: border-box;
}
.button {
        display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
        background-color: #273C2C;
        color: #ffffff; /* needed to override the default link color */
        font-weight: 400;
        text-decoration: none;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid #96BBBB; /* width of the border, type, color */
        transition: 0.2s;
      }
.button:hover {
        opacity: 0.8; /* Reduces the opacity of the button to 80% */
        background-color: #273C2C;
        color:#ffffff;
      }
.button.contact {
        background-color: transparent;
        color: #273C2C;
        text-transform: uppercase;
        border: 2px solid #96BBBB;
      }

.button:active,
.button:focus {
        background-color: #96BBBB;
        color: #000000 !important;
        border-bottom: 2px solid #273C2C;
        opacity: 0.8;
        text-decoration: none;
      }    

.button.contact:hover {
        background-color: #000000;
        color: #ffffff !important;
        border-bottom: 2px solid #fdd537;
    }
    
.button.contact:active {
        background-color: #000000;
        color: #ffffff;
    }
    svg {
        max-width: 32px;
    }
    
    /* Layout styling */
    header {
        background-color: #4a6d56;
        text-align: center;
        padding: 10px;
        margin: 10px;
      
      }
    .container {
        padding: 0 15px;
      }
    .row {
        margin: 25px 25px; /* 25px top and bottom, 0 left and right */
      }
    #hero h1 {
        text-align: center; /* Centers text */
      }
    .logo {
        max-width: 250px;
      }
      nav > ul {
        list-style-type: none;
        padding: 0;
      }
      nav > ul > li {
        display: inline-block;
      }
      nav > ul > li > a {
        padding: 0 15px;
        text-transform: uppercase;
        font-weight: 700;
        color: #ffffff;
      }
      #hero {
        background-color: #4a6d56;
        padding: 20px 20px;
        display: inline-block;
        width: 100%;
        
      }

      #work {
        background-color: #4a6d56;
        padding: 20px 20px;
        display: inline-block;
        width: 100%;
      }

      #skills {
        background-color: #4a6d56;
        padding: 20px 20px;
        display: inline-block;
        width: 100%;
      }

      #hero h1 {
        margin: 0;
        padding: 0.67em 0;
        color: #ffffff;
      }

      main {
        padding-top: 120px;
        
      }

      #contact {
        background-color: #2e2e2e; 
        text-align: center;
        color: #ffffff;
        padding: 0.67em;
    }
    #resume, #skills{
        background-color: #4a6d56;
        padding: 20px 0;
        display: inline-block;
        width: 100%;
      }
    
    #copyright {
        text-align: center;
        font-size: 12px;
    }
    
    #about-picture {
        width: 100%;
        max-width: 100%;
        height: auto;
    }